#chats(ng-controller="ChatsListCtrl")
  .media(ng-repeat="chat in chats", ng-controller="chatCtrl")
    a.pull-left(ng-href="{{ author.profileUrl }}")
      img.media-object(ng-src="https://graph.facebook.com/{{ author.id }}/picture?type=normal")
    .media-body
      .media-heading
        h4 
          | {{ author.displayName }}
          a.pull-right(ng-if="chat.authorId == user.$name", ng-click="removeChat()")
            i.icon-remove
      | {{ chat.message }}

  .media
    a.pull-left(href="")
      img.media-object(ng-src="https://graph.facebook.com/{{ user.id }}/picture?type=normal")
    .media-body
      form(name="chatForm", ng-submit="chatsAlarm.$push(newChat).then(resetChat)")
        input(type="text", name="roomId", ng-model="newChat.roomId", required, ng-bind="newChat.roomId = roomId", ng-hide="true")
        input(type="text", name="authorId", ng-model="newChat.authorId", required, ng-bind="newChat.authorId = user.id", ng-hide="true")
        .form-group
          input.form-control(type="text", name="message", ng-model="newChat.message", required, placeholder="message...")
          span.help-block(ng-show="chatForm.roomId.$error.required")
            | Please select a Room
          span.help-block(ng-show="chatForm.authorId.$error.required")
            | Please login to Chat
          span.help-block(ng-show="chatForm.message.$error.required")
            | Please add your message
        button.btn.pull-right(type="submit") Send as {{ user.displayName }}