div(ng-controller="ChatsCtrl")
  .media(ng-repeat="chat in chats", ng-controller="chatCtrl")
    a.pull-left(ng-href="{{ author.profileUrl }}")
      img.chat-author-image.media-object(ng-src="https://graph.facebook.com/{{ author.id }}/picture?type=normal")
    .media-body
      .media-heading
        h4 
          | {{ author.displayName }}
          a.pull-right(ng-if="chat.authorId == user.$name", ng-click="removeChat()")
            i.icon-remove
      | {{ chat.message }}

  form.media(name="chatForm", ng-submit="createChat()")
    a.pull-left(href="")
      img.chat-author-image.media-object(ng-src="https://graph.facebook.com/{{ user.id }}/picture?type=normal")
    .media-body
      input(type="text", name="roomId", ng-model="newChat.roomId", required, ng-bind="newChat.roomId = roomId", ng-hide="true")
      input(type="text", name="authorId", ng-model="newChat.authorId", required, ng-bind="newChat.authorId = user.id", ng-hide="true")
      input(type="text", name="message", ng-model="newChat.message", required, placeholder="message...")
      span.help-block(ng-if="chatForm.roomId.$error.required")
        | Please select a Room
      span.help-block(ng-if="chatForm.authorId.$error.required")
        | Please login to Chat
      span.help-block(ng-if="chatForm.message.$error.required")
        | Please add your message
      button.btn.pull-right(type="submit") Send as {{ user.displayName }}