footer.text-center
  .container
    p
      | Created by
      a(href="https://twitter.com/tomchentw" target="_blank") @tomchentw
      | released under
      a(href="http://tomchentw.mit-license.org/" target="_blank") MIT License
      | .
    p
      | Design and build with all the love in
      a(href="http://angularjs.org/" target="_blank") #angularjs
      | and
      a(href="https://www.firebase.com/" target="_blank") #firebase
      | .
    p
      | Big thanks to
      a(href="http://getbootstrap.com/" target="_blank") #bootstrap
      | .
    ul.footer-links
      li
        a(href="http://blog.tomchentw.com/" target="_blank") Blog
      li.muted
        | ·
      li
        a(href="http://www.linkedin.com/in/tomchentw" target="_blank") LinkedIn
      li.muted
        | ·
      li
        a(href="https://www.facebook.com/tomchentw" target="_blank") Facebook