@import "bootstrap";
@import "footer";

body { padding-top: 70px; }

nav {
  .navbar-right {
    padding-right: 50px;
  }
}

#chats {
  .media-object {
    $size: 50px;
    width: $size;
    height: $size;
  }
}
