$icon-font-path: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

@import "bootstrap_override";
@import "footer";

body { padding-top: 70px; }

header {
  #avatar {
    margin-top: -8px;
    margin-right: 8px;
    margin-bottom: -8px;
    @include square(32px);
  }
}

#chats_rooms {
  margin-bottom: 20px;
}

#chats {
  .media-object {
    @include square(50px);
  }
}
