#chats(ng-controller="ChatsListCtrl as chatsList")
  h3
    | Room name : 
    span(ng-bind="room.title")
  .media(ng-repeat="chat in chats" ng-controller="ChatCtrl")
    a.pull-left(ga ng-href="{{ author.link }}" target="_blank")
      img.media-object(ng-src="https://graph.facebook.com/{{ author.$name }}/picture?type=normal")
    .media-body
      .media-heading
        strong(ng-bind="author.displayName")
        a.pull-right(ga href="#" ng-if="chat.authorId == _.id" ng-click="chatsAlarm.$ref().child(chat.$name).remove()") x
      p(ng-bind-html="chat.message | linky:'_blank'")

  .media
    a.pull-left(href="")
      img.media-object(ng-src="https://graph.facebook.com/{{ _.id }}/picture?type=normal")
    .media-body
      form(role="form" novalidate name="chatForm" ng-submit="chatsAlarm.$push(newChat).then(chatsList.resetChat)")
        input.ng-hide(type="hidden" name="authorId" ng-model="newChat.authorId" required ng-bind="newChat.authorId = _.id")
        .form-group
          input.form-control(ga type="text" name="message" ng-model="newChat.message" required placeholder="message...")
          span.help-block(ng-hide="room")
            | Please select a Room
          span.help-block(ng-show="chatForm.authorId.$error.required")
            | Please login to Chat
          span.help-block(ng-show="chatForm.message.$error.required")
            | Please add your message
        button.btn.pull-right(ga type="submit")
          | Send as 
          span(ng-bind="_.displayName")