footer
  .container
    .container
    p
      | This project is created by 
      a(href="https://github.com/tomchentw" target="_blank") @tomchentw
      |  under 
      a(href="http://tomchentw.mit-license.org" target="_blank") MIT License
    ul.list-inline
      li
        | Build with
      li
        a(href="http://getbootstrap.com" target="_blank") #Bootstrap
      li
        a(href="http://angularjs.org" target="_blank") #AngularJS
      li
        a(href="https://www.firebase.com/" target="_blank") #Firebase
      li
        a(href="https://github.com/bower/bower" target="_blank") #Bower
      li
        a(href="http://gulpjs.com" target="_blank") #gulpjs
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41104589-6', 'tomchentw.com');
  ga('send', 'pageview');
