footer
  .container
    .container
    p
      | This project is created by 
      a(href="https://github.com/tomchentw" target="_blank") @tomchentw
      |  under 
      a(href="http://tomchentw.mit-license.org" target="_blank") MIT License
    ul.list-inline
      li
        | Build with
      li
        a(href="http://getbootstrap.com" target="_blank") #Bootstrap
      li
        a(href="http://angularjs.org" target="_blank") #AngularJS
      li
        a(href="https://www.firebase.com/" target="_blank") #Firebase
      li
        a(href="https://github.com/bower/bower" target="_blank") #Bower
      li
        a(href="http://gulpjs.com" target="_blank") #gulpjs
