.row(ng-controller="RoomsListCtrl")
  .col-xs-12.col-sm-6
    form(role="form" novalidate name="roomForm" ng-submit="roomsAlarm.$push(newRoom).then(resetRoom)")
      h3 Create a new Room
      .form-group
        label(for="newRoomTitle") Room title
        input.form-control(id="newRoomTitle" type="text" name="title" ng-model="newRoom.title" required)
        span.help-block(ng-show="roomForm.title.$error.required")
          | Please fill in a new room title
      button.btn.btn-primary(type="submit") Create

  .col-xs-12.col-sm-6
    .btn-group
      button.btn.btn-default(ng-class="{'active': $parent.order == order}" ng-repeat="order in orderList" ng-click="$parent.order = order; $parent.reversed = !reversed" ng-bind="order")
    h3
      | orderBy : 
      span(ng-bind="(reversed ? '-' : '') + order")
    
    ul.nav.nav-pills.nav-stacked
      li(ng-class="{'active': room.$name == roomId}" ng-repeat="room in rooms | orderBy:order:reversed")
        a(ng-click="$root.roomId = room.$name" ng-bind="room.title")
