doctype html
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title ng-fire-alarm
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="/application.css")
    script(defer, src="/application.js")
  body
    include partials/header
    div.container(role="main")
      section
        .page-header
          h1 ChatRoom!
        .row
          .col-xs-4.col-sm-6
            include partials/rooms
          .col-xs-8.col-sm-6
            include partials/chats
    
    include partials/footer