doctype html
html(ng-app="application")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/")
    title ng-fire-alarm
    meta(name="description" content="Firebase and AngularJS two-way binding that use the new notify API from $q")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://ng-fire-alarm.tomchentw.com")
    meta(property="og:title" content="ng-fire-alarm")
    meta(property="og:description" content="Firebase and AngularJS two-way binding that use the new notify API from $q")

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    link(rel="stylesheet" href=stylesheetLinkTag("application.css"))
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")
    script(type="text/javascript" src=javascriptIncludeTag("application.js"))
  body
    include partials/header

    div.container-fluid(role="main")
      header
        .page-header
          h1
            | ng-fire-alarm
            br
            small Firebase and AngularJS two-way binding that use the new notify API from $q

      section#chats_rooms
        .row
          .col-xs-12.col-sm-8.col-md-6
            include partials/rooms
          .col-xs-12.col-sm-4.col-md-6
            include partials/chats
      section(ng-non-bindable)
        .row
          .col-xs-12.col-md-6
            pre
              code.language-html
                != highlight('tmp/.html-cache/partials/rooms.html')
            pre
              code.language-html
                != highlight('tmp/.html-cache/partials/chats.html')

          .col-xs-12.col-md-6
            pre
              code.language-javascript
                != highlight('tmp/.js-cache/partials/ctrls.js')

    include partials/footer
