.row-fluid
  .span6
    form(name="roomForm", ng-submit="createRoom()")
      fieldset
        legend Create a new Room
        label Room title
        input(type="text", name="title", ng-model="newRoom.title", required)
        span.help-block(ng-if="roomForm.title.$error.required")
          | Please fill in a new room title
        .btn-group
          button.btn(type="submit") Create
  .span6
    .btn-group
      button.btn.dropdown-toggle
        | Room orderBy {{order}}
        span.caret
      ul.dropdown-menu
        li(ng-repeat="order in orderList")
          a(href="", ng-click="$parent.order = order")
            {{ order }}
    ul.nav.nav-pills.nav-stacked
      li(ng-repeat="room in rooms | orderBy:order",
          ng-class="{'active': isActive()}")
        a(href="", ng-click="activate()")
          {{ room.title }} (index in FB: {{room.$index}})
    