ul.social-buttons
  li
    <iframe src="http://ghbtns.com/github-btn.html?user=tomchentw&repo=angular-on-fire&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
  li
    <iframe src="http://ghbtns.com/github-btn.html?user=tomchentw&repo=angular-on-fire&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
  li
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://angular-on-fire.tomchentw.com/" data-text="The greatest way to use Firebase with AngularJS!" data-via="tomchentw" data-hashtags="angular-on-fire">Tweet</a>
  li
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="150"></div>
