div(ng-controller="VipUserCtrl", fb-sync="vip_user, user, friends_list")
  h2
    i(ng-class="{star: vip_user.valid && user.payed, 'star-empty': !vip_user.valid || !user.payed}")
      {{ user.displayName }}
  p {{ user.bio }}
  button.btn.btn-large.btn-primary(ng-click="user.$update({payed: !user.payed})") Extend VIP : $USD 500
  h2 {{ user.displayName.split(' ')[0] }}'s Friends
  ul
    li(ng-repeat="(userId, displayName) in friends_list")
      a(ng-href="https://wwww.facebook.com/{{ userId }}", target="_blank")
        {{ displayName }}