div(ng-controller="VipUserCtrl")
  h2
    i(ng-class="{'icon-star': vip_user.valid && user.payed, 'icon-star-empty': !vip_user.valid || !user.payed}")
      | 
    {{ user.displayName }}
  p {{ user.bio }}
  button.btn.btn-large.btn-info(ng-click="user.$update({payed: !user.payed})")
    span(ng-if="user.payed") Extended
    span(ng-if="!user.payed") Extend
    |  VIP : $USD 500
  h2 Friends of {{ user.displayName.split(" ")[0] }}
  ul
    li(ng-repeat="(userId, displayName) in friends_list")
      a(ng-href="https://wwww.facebook.com/{{ userId }}", target="_blank")
        {{ displayName }}
  pre 
    | vip_user: {{ vip_user | njson }}
    | user: {{ user | njson }}
    | friends_list: {{ friends_list | njson }}