div(ng-controller="BookAuthorsCtrl")
  ul
    li(ng-repeat="user in authors | orderBy:'+$index'")
      a(ng-href="https://wwww.facebook.com/{{ user.$name }}", target="_blank")
        {{ user.$name }} : {{ user.displayName }} (priority: {{ user.$priority }})
      p {{ user.bio | limitTo:100 }}...
  pre 
    | authorAccountIds: {{ authorAccountIds | njson }}
    | userIds: {{ userIds | njson }}
    | flattenUIds: {{ flattenUIds | njson }}
    | authors: {{ authors | njson }}