h2
  | Toggle Me
button.btn(ng-class="{active: state.$value, disabled: !state.$name, 'btn-success': state.$name, 'btn-warning': !state.$name}", 
  ng-click="state.$set(!state.$value)")
  | Toggle Value : {{state.$value}}
