.hero-unit(ng-controller="HeroCtrl", fb-sync="counter, posts")
  h1
    | angular-on-fire
    small
      |  counter : 
      span(ng-bind="counter.$value")
      |  
      a(href="", ng-click="counter.$increase()")
        i.icon-plus
      |  
      a(href="", ng-click="counter.$decrease()")
        i.icon-minus
  p
    a(href="http://angularjs.org/") angularjs
    , binding, 
    a(href="https://www.firebase.com/") firebase
    br
    | The greatest way to use Firebase with AngularJS!