!!! 5
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title angular-on-fire
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="/style.min.css")
    script(defer, src="/script.min.js")
  body
    header
      include partials/header
    div(role="main")
      header.page-header
        .container-fluid
          .row-fluid
            .span8
              include mixins/h
            .span4
              tabset
                tab(heading="hero-unit.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;HeroCtrl&quot; class=&quot;hero-unit&quot;&gt;\n  &lt;h1&gt;angular-on-fire&lt;small&gt; counter : &lt;span ng-bind=&quot;counter.$value&quot;&gt;&lt;/span&gt; &lt;a href=&quot;&quot; ng-click=&quot;counter.$increase()&quot;&gt;&lt;i class=&quot;icon-plus&quot;&gt;&lt;/i&gt;&lt;/a&gt; &lt;a href=&quot;&quot; ng-click=&quot;counter.$decrease()&quot;&gt;&lt;i class=&quot;icon-minus&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/small&gt;&lt;/h1&gt;\n  &lt;p&gt;&lt;a href=&quot;http://angularjs.org/&quot;&gt;angularjs&lt;/a&gt;, binding, &lt;a href=&quot;https://www.firebase.com/&quot;&gt;firebase&lt;/a&gt;&lt;br/&gt;The greatest way to use Firebase with AngularJS!&lt;/p&gt;\n&lt;/div&gt;'
                tab(heading="hero-unit.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('HeroCtrl', ['$log', '$scope', 'fireObjectDSL', 'autoInjectDSL'].concat(function($log, $scope, fireObjectDSL, autoInjectDSL){\n  var counter;\n  counter = fireObjectDSL.get('/click-count');\n  autoInjectDSL($scope).resolve({\n    counter: counter\n  });\n}));"
          .row-fluid
            include partials/social-buttons
          .row-fluid
            h1 
              | See 
              a.btn.btn-large.btn-info(href="https://angular-on-fire.firebaseio.com/.json", target="_blank")
                | root.json
              |  in 
              pre.demo firebase
              small to understand how this page interact with it
          .row-fluid
            accordion
              accordion-group(heading="root.json (click me to open and see what's happening)")
                pre.prettyprint.noborder(ng-bind="root | json")
      section
        .container-fluid
          .page-header
            h1
              | ChatRoom!
          .row-fluid(ng-controller="RoomsCtrl")
            .span6
              include partials/rooms
            .span6
              include partials/chats
    footer
      include partials/footer