!!! 5
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title angular-on-fire
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="style.min.css")
    script(defer, src="/script.js")
  body
    header
      include partials/header
    div(role="main")
      header.page-header
        .container-fluid
          .row-fluid
            .span8
              include mixins/h
            .span4
              tabset
                tab(heading="hero-unit.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;HeroCtrl&quot; class=&quot;hero-unit&quot;&gt;\n  &lt;h1&gt;angular-on-fire&lt;small&gt; counter : &lt;span ng-bind=&quot;counter.$value&quot;&gt;&lt;/span&gt; &lt;a href=&quot;&quot; ng-click=&quot;counter.$increase()&quot;&gt;&lt;i class=&quot;icon-plus&quot;&gt;&lt;/i&gt;&lt;/a&gt; &lt;a href=&quot;&quot; ng-click=&quot;counter.$decrease()&quot;&gt;&lt;i class=&quot;icon-minus&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/small&gt;&lt;/h1&gt;\n  &lt;p&gt;&lt;a href=&quot;http://angularjs.org/&quot;&gt;angularjs&lt;/a&gt;, binding, &lt;a href=&quot;https://www.firebase.com/&quot;&gt;firebase&lt;/a&gt;&lt;br/&gt;The greatest way to use Firebase with AngularJS!&lt;/p&gt;\n&lt;/div&gt;'
                tab(heading="hero-unit.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('HeroCtrl', ['$log', '$scope', 'fireObjectDSL', 'autoInjectDSL'].concat(function($log, $scope, fireObjectDSL, autoInjectDSL){\n  var counter;\n  counter = fireObjectDSL.get('/click-count');\n  autoInjectDSL($scope).resolve({\n    counter: counter\n  });\n}));"
          .row-fluid
            include partials/social-buttons
          .row-fluid
            h1 
              | See 
              a.btn.btn-large.btn-info(href="https://angular-on-fire.firebaseio.com/.json", target="_blank")
                | root.json
              |  in 
              pre.demo firebase
              small to understand how this page interact with it
          .row-fluid
            accordion
              accordion-group(heading="root.json (click me to open and see what's happening)")
                pre.prettyprint.noborder(ng-bind="root | json")
      section
        .container-fluid
          .page-header
            h1
              pre.demo FireSync
              | service
          .row-fluid
            .span6
              tabset
                tab(heading="1.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;UserShowCtrl&quot;&gt;\n  &lt;h2&gt;{{ user.displayName }}&lt;/h2&gt;\n  &lt;p&gt;{{ user.bio }}&lt;/p&gt;\n  &lt;pre&gt;user: {{ user | njson }}&lt;/pre&gt;\n&lt;/div&gt;'
                tab(heading="1.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('UserShowCtrl', ['$scope', 'fireObjectDSL', 'autoInjectDSL'].concat(function($scope, fireObjectDSL, autoInjectDSL){\n  /* declare sync object */\n  var user;\n  user = fireObjectDSL.get('/users/100001053090034');\n  /*\n   * pass $scope to `autoInjectDSL`, it'll automatically detatch listeners\n   * when the $scope is destroyed.\n   */\n  autoInjectDSL($scope).resolve({\n    user: user\n  });\n}));"
            .span6
              include mixins/1
      section
        .container-fluid
          .page-header
            h1 Resolving Dynamic Path
          .row-fluid
            .span6
              tabset
                tab(heading="3.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;VipUserCtrl&quot;&gt;\n  &lt;h2&gt;&lt;i ng-class=&quot;{&#39;icon-star&#39;: vip_user.valid &amp;amp;&amp;amp; user.payed, &#39;icon-star-empty&#39;: !vip_user.valid || !user.payed}&quot;&gt; &lt;/i&gt;{{ user.displayName }}&lt;/h2&gt;\n  &lt;p&gt;{{ user.bio }}&lt;/p&gt;\n  &lt;button ng-click=&quot;user.$update({payed: !user.payed})&quot; class=&quot;btn btn-large btn-info&quot;&gt;&lt;span ng-if=&quot;user.payed&quot;&gt;Extended&lt;/span&gt;&lt;span ng-if=&quot;!user.payed&quot;&gt;Extend&lt;/span&gt; VIP : $USD 500&lt;/button&gt;\n  &lt;h2&gt;Friends of {{ user.displayName.split(&quot; &quot;)[0] }}&lt;/h2&gt;\n  &lt;ul&gt;\n    &lt;li ng-repeat=&quot;(userId, displayName) in friends_list&quot;&gt;&lt;a ng-href=&quot;https://wwww.facebook.com/{{ userId }}&quot; target=&quot;_blank&quot;&gt;{{ displayName }}&lt;/a&gt;&lt;/li&gt;\n  &lt;/ul&gt;\n  &lt;pre&gt; \nvip_user: {{ vip_user | njson }}\nuser: {{ user | njson }}\nfriends_list: {{ friends_list | njson }}&lt;/pre&gt;\n&lt;/div&gt;'
                tab(heading="3.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('VipUserCtrl', ['$scope', 'fireObjectDSL', 'autoInjectDSL'].concat(function($scope, fireObjectDSL, autoInjectDSL){\n  /* \n    1 */\n  var vip_user, user, friends_list;\n  vip_user = fireObjectDSL.get('/vip-user');\n  /* \n    2\n    depends on 1 */\n  user = fireObjectDSL.get('/users/{{ vip_user.id }}');\n  /*\n    3\n    depends on 2 */\n  friends_list = fireObjectDSL.get('/friend-list/{{ user.displayName }}');\n  autoInjectDSL($scope).resolve({\n    vip_user: vip_user,\n    user: user,\n    friends_list: friends_list\n  });\n}));"
            .span6
              include mixins/3
      section
        .container-fluid
          .page-header
            h1 prototype methods
          .row-fluid
            .span6
              tabset
                tab(heading="4.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;UserEditCtrl&quot;&gt;\n  &lt;button ng-click=&quot;visited.$increase()&quot; class=&quot;btn btn-large btn-primary&quot;&gt;\n     \n    Visited Counter : {{ visited.$value }}\n  &lt;/button&gt;\n  &lt;form class=&quot;form-horizontal&quot;&gt;\n    &lt;label for=&quot;displayName&quot;&gt;Display Name :&lt;/label&gt;\n    &lt;input type=&quot;text&quot; id=&quot;displayName&quot; ng-model=&quot;user.displayName&quot; ng-change=&quot;user.$update({displayName: user.displayName})&quot;/&gt;\n    &lt;label for=&quot;bio&quot;&gt;Bio :&lt;/label&gt;\n    &lt;textarea rows=&quot;6&quot; id=&quot;bio&quot; ng-model=&quot;user.bio&quot; ng-change=&quot;user.$update({bio: user.bio})&quot;&gt;&lt;/textarea&gt;\n  &lt;/form&gt;\n  &lt;pre&gt;{{ user | njson }}&lt;/pre&gt;\n&lt;/div&gt;'
                tab(heading="4.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('UserEditCtrl', ['$scope', 'fireObjectDSL', 'autoInjectDSL'].concat(function($scope, fireObjectDSL, autoInjectDSL){\n  /* this node points to a number,\n    but the type of `click-count` is object, we store that number to its `$value` property.\n    This transformation applies to all non-object values (string, number ...)\n  */\n  var visited, user;\n  visited = fireObjectDSL.get('/click-count');\n  /* the-test-user */\n  user = fireObjectDSL.get('/users/the-test-user');\n  autoInjectDSL($scope).resolve({\n    visited: visited,\n    user: user\n  });\n}));"
            .span6
              include mixins/4
      section
        .container-fluid
          .page-header
            h1
              pre.demo FireCollection
              | service
          .row-fluid
            .span6
              tabset
                tab(heading="5.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;UsersCtrl&quot;&gt;\n  &lt;ul&gt;\n    &lt;li ng-repeat=&quot;user in users | orderBy:&#39;-$index&#39;&quot;&gt;&lt;a ng-href=&quot;https://wwww.facebook.com/{{ user.$name }}&quot; target=&quot;_blank&quot;&gt;{{ user.$name }} : {{ user.displayName }} (priority: {{ user.$priority }})&lt;/a&gt;\n      &lt;p&gt;{{ user.bio | limitTo:100 }}...&lt;/p&gt;\n    &lt;/li&gt;\n  &lt;/ul&gt;\n  &lt;pre&gt;users: {{ users | njson }}&lt;/pre&gt;\n&lt;/div&gt;'
                tab(heading="5.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('UsersCtrl', ['$scope', 'fireCollectionDSL', 'autoInjectDSL'].concat(function($scope, fireCollectionDSL, autoInjectDSL){\n  /*\n    lets assume it's a object with each item created by `push`*/\n  var users;\n  users = fireCollectionDSL.get('/users');\n  autoInjectDSL($scope).resolve({\n    users: users\n  });\n}));"
            .span6
              include mixins/5
      section
        .container-fluid
          .page-header
            h1
              | Eager Loading on 
              pre.demo FireCollection
              | with Multiple Indexes
          .row-fluid
            .span6
              tabset
                tab(heading="7.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div ng-controller=&quot;BookAuthorsCtrl&quot;&gt;\n  &lt;ul&gt;\n    &lt;li ng-repeat=&quot;user in authors | orderBy:&#39;+$index&#39;&quot;&gt;&lt;a ng-href=&quot;https://wwww.facebook.com/{{ user.$name }}&quot; target=&quot;_blank&quot;&gt;{{ user.$name }} : {{ user.displayName }} (priority: {{ user.$priority }})&lt;/a&gt;\n      &lt;p&gt;{{ user.bio | limitTo:100 }}...&lt;/p&gt;\n    &lt;/li&gt;\n  &lt;/ul&gt;\n  &lt;pre&gt; \nauthorAccountIds: {{ authorAccountIds | njson }}\nuserIds: {{ userIds | njson }}\nflattenUIds: {{ flattenUIds | njson }}\nauthors: {{ authors | njson }}&lt;/pre&gt;\n&lt;/div&gt;'
                tab(heading="7.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.controller('BookAuthorsCtrl', ['$scope', 'fireCollectionDSL', 'autoInjectDSL'].concat(function($scope, fireCollectionDSL, autoInjectDSL){\n  var authorAccountIds, userIds, flattenUIds, authors;\n  authorAccountIds = fireCollectionDSL.get('/books/-J5Cw4OCANLhxyKoU1nI/authorAccountIds');\n  userIds = authorAccountIds.map('/accounts/{{ $name }}/userIds');\n  /* { -J5Cw4OCANLhxyKoU1nI: [100001053090034] } */\n  flattenUIds = userIds.flatten();\n  /* [100001053090034] */\n  authors = flattenUIds.map('/users/{{ $name }}');\n  /* [{id: 100001053090034}] */\n  autoInjectDSL($scope).resolve({\n    authorAccountIds: authorAccountIds,\n    userIds: userIds,\n    flattenUIds: flattenUIds,\n    authors: authors\n  });\n}));"
            .span6
              include mixins/7
      section
        .container-fluid
          .page-header
            h1
              pre.demo FireAuth
              | service
          .row-fluid
            .span6
              tabset
                tab(heading="8.html")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != '\n&lt;div collapse=&quot;isCollapse&quot; class=&quot;nav-collapse collapse&quot;&gt;\n  &lt;ul class=&quot;nav pull-right&quot;&gt;\n    &lt;li&gt;&lt;a ng-href=&quot;{{ user.profileUrl }}&quot; target=&quot;_blank&quot;&gt;&lt;img ng-src=&quot;https://graph.facebook.com/{{ user.id }}/picture?type=normal&quot; class=&quot;img-rounded&quot;/&gt;{{ user.displayName }}&lt;/a&gt;&lt;/li&gt;\n    &lt;li ng-if=&quot;!auth.id&quot;&gt;&lt;a ng-click=&quot;auth.$login(&#39;facebook&#39;, {rememberMe: true, scope: &#39;email&#39;})&quot;&gt;Facebook Login&lt;/a&gt;&lt;/li&gt;\n    &lt;li ng-if=&quot;auth.id&quot;&gt;&lt;a ng-click=&quot;auth.$logout()&quot;&gt;Logout&lt;/a&gt;&lt;/li&gt;\n  &lt;/ul&gt;\n&lt;/div&gt;'
                tab(heading="8.js")
                  pre.prettyprint.linenums(ng-non-bindable)
                    != "this.demo.run(['$log', '$rootScope', 'fireAuthDSL', 'fireObjectDSL', 'autoInjectDSL', 'Firebase', 'FirebaseUrl'].concat(function($log, $rootScope, fireAuthDSL, fireObjectDSL, autoInjectDSL, Firebase, FirebaseUrl){\n  var auth, root, user;\n  auth = fireAuthDSL.root(FirebaseUrl);\n  root = fireObjectDSL.get('/');\n  user = fireObjectDSL.get('/users/{{ auth.id }}');\n  $rootScope.$watch('!!auth.id && !!user.$name', function(it){\n    var ref$;\n    if (!it) {\n      return;\n    }\n    $log.log('logined! update user!', $rootScope);\n    /* We need this to store user auth (like session) into database */\n    $rootScope.user.$setWithPriority({\n      id: (ref$ = $rootScope.auth).id,\n      displayName: ref$.displayName,\n      profileUrl: ref$.profileUrl,\n      bio: ref$.bio,\n      updated_time: ref$.updated_time\n    }, Math.round(Math.random() * Math.pow(2, 16)));\n  });\n  autoInjectDSL($rootScope).resolve({\n    auth: auth,\n    root: root,\n    user: user\n  });\n}));"
            .span6
              h2 
                | See 'navbar'
              h2
                small Click 'Facebook Login' for demo!
    footer
      include partials/footer